*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.all{
	width: 100%;
	background: #453E4A;
}

.container{
	display: flex;
	margin: 0 auto;
	flex-direction: column;
	width: 960px;
	background-color: white;
}

.name{
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 0 auto;
	font-size: 5em;
	font-family: 'Oswald', sans-serif;
	color: #785EDD;
}

.board{
	width: 600px;
	height: 600px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 10px auto 50px auto;
}

.square{
	color: white;
	font-size: 64px;
	font-family: 'Rubik', sans-serif;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	border: 2px solid white;
	width: 200px;
	height: 200px;
	background: #9E58DC; 
	cursor: pointer;
	transition: all ease 0.7s;
}

.square:hover{
	background: #453E4A;
}

.modal{
	position: absolute;
	left: 476px;
	top: 100px;
	visibility: hidden;
	color: white;
	width: 400px;
	height: 250px;
	background: #AE44C8;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 2px solid #453E4A;
}