*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


.container{
	display: flex;
	margin: 0 auto;
	flex-direction: column;
	width: 100%;
	background-color: #FFFCE6;
}

.name{
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 0 auto;
	font-size: 5em;
	font-family: 'Oswald', sans-serif;
	color: #4CD4B0;
}

.board{
	width: 480px;
	height: 480px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 10px auto 50px auto;
}

.square{
	color: white;
	font-size: 60px;
	font-family: 'Rubik', sans-serif;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	border: 2px solid white;
	width: 160px;
	height: 160px;
	background: #4CD4B0; 
	cursor: pointer;
	transition: all ease 0.7s;
}

.square:hover{
	background: #EDD834;
}

.modal{
	position: absolute;
	margin: 100px 0 0 550px;
	visibility: hidden;
	color: white;
	width: 400px;
	height: 300px;
	background: #EDD834;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	border: 2px solid #7D1424;
}